{% extends "base.jinja2" %} {% block title %}Home{% endblock %} {%block content%}
<section id="home">
  <hgroup>
    <h2>Cars</h2>
    <h3>Home</h3>
  </hgroup>
  {# add a new car posting here #}
  {% if not cars%}
  <article>No cars currently available. Please try again later.</article>

  {% else %} {% for car in cars %}
  <article>
    {{car.name}}
  </article>
  {% endfor %} {% endif %}
</section>
{%endblock%}